# Electron build output
dist-electron/
dist/
out/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Variables de entorno
.env
.env.local
.env.production